<mat-toolbar color="primary">
  <button routerLink="/home" routerLinkActive="active" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button routerLink="/about" routerLinkActive="active" mat-button>
    <span>About</span>
  </button>
  <button routerLink="/gallary" routerLinkActive="active" mat-button>
    <span>Gallary</span>
  </button>
  <button routerLink="/contacts" routerLinkActive="active" mat-button>
    <span>Contacts</span>
  </button>
  <button routerLink="/admin" routerLinkActive="active" mat-button>
    <span>Admin</span>
  </button>


</mat-toolbar>